@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:
        'Fira Sans',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

.slogan {
    @apply font-bold container mx-auto text-center text-white leading-[.9] drop-shadow-[0_0px_10px_rgba(0,0,139,.8)];
}

.fade-in {
    opacity: 0;
    transform: translateY(5px);
}
.fade-in.fade-in-active {
    transition:
        opacity 300ms,
        transform 300ms;
    opacity: 1;
    transform: translateY(0);
}

.scrollbar-dark::-webkit-scrollbar {
    width: 10px;
}
.scrollbar-dark::-webkit-scrollbar-track {
    background: #0a0a0a;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}
.scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #777;
}
